*{
    box-sizing: border-box;
}

.container{
    margin:20px auto;
    max-width: 500px;
}

.row{
    display:flex;
    align-items: center;
    justify-content: center;
}
button {
    min-width: 40px;
    min-height: 40px;
    margin: 2px;
    font-weight: bold;
    font-size: 20px;
}

.output {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
}
/* Make this prettier! */